html {
	background-image: url("../images/bgphoto.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 900px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header {
    padding: 15px;
	height: 150px;
} 
header img { 
	float: left; 
	padding-right: 15px;  
} 
header h1 {
	font-size: 300%;
    color: black;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder;
}

header h3 {
	font-size: 150%;
    color: rgb(82, 30, 30);
	font-family: cursive;
	text-align: center;
}
header h4 {
	font-size: 120%;
	padding-bottom: 15px;
    color: rgb(82, 30, 30);
	font-family: cursive;
	text-align: left;
}
.bg {
    background-image: url("../images/bghead.jpg");
	background-repeat: no-repeat;
	background-position: center left;
}

#nav_menu {
	clear: left;
}

#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li{
    float: none;
    position: relative;
}
#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;
    top: 0; 
}

#nav_menu ul li.lastitem ul li ul {
    position: absolute;
    left: -100%;
    top: 0; 
}
#nav_menu ul li:hover > ul { 
    display: block; 
}

#nav_menu ul li:hover > ul { 
    display: block; 
}


#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block; 
}

#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 225px;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}

#nav_menu ul li.lastitem a { 
    width: 178px; 
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus { 
    background-color: gray; 
}

/* Sidebar */
aside {
	width: 160px;
	float: left;
	padding-left: 20px;
	padding-bottom: 0px;
	background-color: rgb(241, 237, 237);
}

aside h4{
	font-size: 105%;
	text-align: left;
	margin-bottom: 10px;
}

aside h4 a{
	color: indianred;
	text-decoration: none;
}

aside .leftimg {
	display: block;
	border: 1px solid rgb(156, 116, 116);
}

/* division */
div {
	border-right: 2px solid black;
	padding: 0;
	padding-top: 20px;
	height: 660px;
}

/* right aside area */
.right {
	width: 160px;
	float: right;
	padding-left: 20px;
	padding-bottom: 0px;
	background-color: rgb(241, 237, 237);
}

.right h4{
	font-size: 105%;
	text-align: left;
	margin-bottom: 10px;
	color: indianred;
}

.right img {
	display: block;
	border: 1px solid rgb(156, 116, 116);
}

#rdiv {
	float: right; 
	width: 160px;
    border-left: 2px solid black;
	padding-right: 0px;
	padding-left: 18px;
	height: max-content;
}

/* Section */
section {
	width: 515px;
	height: 640px;
	float: left;
	padding: 20px 5px 20px 20px;
	color: black;
	text-align: center;
	background-color: rgb(240, 229, 229);
}
section h2 { 
	margin: 0;
    padding: .25em;
    font-size: 120%;
	font-family: cursive;
	text-align: center;
	color: rgb(111, 197, 111);
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
	background-image: url("/images/footer.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
} 
footer p {
	font-size: 100%;
	text-align: center;
    color: black;
}
